<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>

<button href="<% @restaurant %>" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-plus " aria-hidden="true"></span>
  Show
</button>